GROQ_API_KEY=
GROQ_API_MODEL=llama-3.3-70b-versatile

OPENAI_API_KEY=
OPENAI_API_MODEL=gpt-4o

LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_DEBUG_MODE=true

USER_AGENT="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.3"